body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.banner {
  background-image: url('https://source.unsplash.com/random/1600x900');
  background-size: cover;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.banner-content {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 20px;
}

/* Conteneur principal */
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}

/* Liens */
a {
  color: #3498db;
  text-decoration: none;
  background-image: linear-gradient(to right, #3498db, #3498db);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s;
}

a:hover {
  background-size: 100% 100%;
  color: white;
}

/* Media queries */
@media (max-width: 1200px) {
  .container {
      max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
      max-width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
      max-width: 500px;
  }
}

@media (max-width: 576px) {
  .container {
      max-width: 300px;
  }
}
